<app-header title="Regístrate"></app-header>

<ion-content [fullscreen]="true">

    <div class="d-flex-center">
      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
  
        <app-logo></app-logo>

        <app-custom-input autocomplete="name" icon="mail-outline" [control]="form.controls.name" type="name" label="Nombre"></app-custom-input>
        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
          <div *ngIf="form.controls.name.errors?.['required']">El campo Nombre está vacío</div>
          <div *ngIf="form.controls.name.errors?.['minlength']">No puede haber un nombre con menos de 4 caracteres</div>
        </div>
  
        <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email" label="Correo"></app-custom-input>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['required']">El campo Correo está vacío</div>
          <div *ngIf="form.controls.email.errors?.['email']">El formato del correo no es válido</div>
        </div>
  
        <app-custom-input icon="lock-closed-outline" [control]="form.controls.password" type="password" label="Contraseña"></app-custom-input>
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
          <div *ngIf="form.controls.password.errors?.['required']">El campo Contraseña está vacío</div>
        </div>
  
        <ion-button color="secondary" expand="block" mode="ios" shape="round" class="submit" type="submit" [disabled]="form.invalid">
          Registrar usuario
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
  
        <ion-button class="ion-margin-top" routerLink=".." color="tertiary" expand="block" mode="ios" shape="round" fill="outline">
          Ir al inicio de sesión
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
  
      </form>
    </div>
  
  </ion-content>