ion-avatar {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.user-data {
    color: var(--ion-color-tertiary)
}

.camera-button {
    position: absolute;
    bottom: 100px;
    left: 20%;
    margin: 0 auto;
    width: 60%;
}

.empty-icon {
    font-size: 140px;
    opacity: 30%;
    color: var(--ion-color-secondary);
}